[submodule "Filterlist-for-AdGuard"]
	path = sub_Filterlist-for-AdGuard
	url = https://github.com/hl2guide/Filterlist-for-AdGuard
[submodule "uAssets"]
	path = sub_uAssets
	url = https://github.com/uBlockOrigin/uAssets
[submodule "sub_adblock-nocoin-list"]
	path = sub_adblock-nocoin-list
	url = https://github.com/hoshsadiq/adblock-nocoin-list
[submodule "easylist"]
	path = sub_easylist
	url = https://github.com/easylist/easylist
[submodule "PersonalFilterListCollection"]
	path = sub_PersonalFilterListCollection
	url = https://github.com/kowith337/PersonalFilterListCollection
[submodule "webannoyances"]
	path = sub_webannoyances
	url = https://github.com/yourduskquibbles/webannoyances
